-i https://pypi.org/simple/
alembic==1.5.7
bcrypt==3.2.0
cffi==1.14.5
click==7.1.2
flask-bcrypt==0.7.1
flask-migrate==2.5.3
flask-script==2.0.6
flask-sqlalchemy==2.4.1
flask==1.1.2
greenlet==1.0.0 ; python_version >= '3'
importlib-metadata==3.7.3 ; python_version < '3.8'
itsdangerous==1.1.0
jinja2==2.11.3
mako==1.1.4
markupsafe==1.1.1
marshmallow==3.5.2
psycopg2==2.8.5
pycparser==2.20
pyjwt==1.7.1
python-dateutil==2.8.1
python-editor==1.0.4
six==1.15.0
sqlalchemy==1.4.2
typing-extensions==3.7.4.3 ; python_version < '3.8'
werkzeug==1.0.1
zipp==3.4.1
